<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- 评论 -->
	<div class="detail-comment">
		<div class="comment-hd">
			<div class="good-rates yx-ibt">
			</div>
			<div class="commnet-nav yx-ibt">
			</div>
		</div>
		<div class="comment-bd">
			<!-- 排序 -->
			<div class="comment-sortbar">
				<div class="sorts">
					<span class="name">排序: </span>
					<a href="javascript:;" class="sort sort-default active">默认</a>
					<a href="javascript:;" class="sort sort-time">评论时间<i style="font-style: normal; margin-left:5px;">↓</i></a>
				</div>
			</div>
			<!-- 评论列表 -->
			<ul class="comment-list"></ul>
		</div>

		<div class="comment-pager">
			<div class="pager-inner">
				<a href="javascript:;" data-page="0" class="page disabled">
					<i class="iconfont icon-prev"></i>上一页
				</a>
				<a href="javascript:;" data-page="1" class="page selected">1</a>
				<a href="javascript:;" data-page="2" class="page">2</a>
				<a href="javascript:;" data-page="3" class="page">3</a>
				<a href="javascript:;" data-page="4" class="page">4</a>
				<a href="javascript:;" data-page="5" class="page">5</a>
				<a href="javascript:;" data-page="6" class="page ">
					下一页<i class="iconfont icon-next"></i>
				</a>
			</div>
		</div>
	</div>
</body>
</html>