<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         metadata-complete="true" version="4.0">
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.yanxuan.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.yanxuan.listeners.InitListener</listener-class>
    </listener>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.yanxuan.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/pages/login.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegisterCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.RegisterCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterCtrl</servlet-name>
        <url-pattern>/RegisterCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.LoginCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCtrl</servlet-name>
        <url-pattern>/LoginCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addressServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.address.AddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addressServlet</servlet-name>
        <url-pattern>/addressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteAddressServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.address.DeleteAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteAddressServlet</servlet-name>
        <url-pattern>/deleteAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newAddressServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.address.NewAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newAddressServlet</servlet-name>
        <url-pattern>/newAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodListCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.GoodListCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodListCtrl</servlet-name>
        <url-pattern>/goodList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectGoodsServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.SelectGoods.SelectGoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectGoodsServlet</servlet-name>
        <url-pattern>/SelectGoodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetGoodDetailsServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.SelectGoods.GetGoodDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetGoodDetailsServlet</servlet-name>
        <url-pattern>/GetGoodDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmailCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.EmailCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmailCtrl</servlet-name>
        <url-pattern>/EmailCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.SearchCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCtrl</servlet-name>
        <url-pattern>/SearchCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.SendCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendCtrl</servlet-name>
        <url-pattern>/SendCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendListCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.SendListCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendListCtrl</servlet-name>
        <url-pattern>/SendListCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>goodListShowCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.GoodListShowCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>goodListShowCtrl</servlet-name>
        <url-pattern>/goodListShowCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>setDefaultAddressServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.address.SetDefaultAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppCartCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.ShoppCartCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setDefaultAddressServlet</servlet-name>
        <url-pattern>/setDefaultAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppCartCtrl</servlet-name>
        <url-pattern>/shopcart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExitCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.ExitCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExitCtrl</servlet-name>
        <url-pattern>/ExitCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfirmCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.ConfirmCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmCtrl</servlet-name>
        <url-pattern>/ConfirmCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.CommentCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentCtrl</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>showCollectionCtrl</servlet-name>
        <servlet-class>com.yanxuan.controller.collection.ShowCollectionCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showCollectionCtrl</servlet-name>
        <url-pattern>/showCollectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>updateCollectionCtrl</servlet-name>
        <servlet-class>com.yanxuan.controller.collection.UpdateCollectionCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateCollectionCtrl</servlet-name>
        <url-pattern>/updateCollectionCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>footprint</servlet-name>
        <servlet-class>com.yanxuan.controller.footprint.FootprintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>footprint</servlet-name>
        <url-pattern>/footprint</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteFootprintServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.footprint.DeleteFootprintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteFootprintServlet</servlet-name>
        <url-pattern>/deleteFootprintServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>addFootprintServlet</servlet-name>
        <servlet-class>com.yanxuan.controller.footprint.AddFootprintServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addFootprintServlet</servlet-name>
        <url-pattern>/addFootprintServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.OrderCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderCtrl</servlet-name>
        <url-pattern>/OrderCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyListCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.MyListCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyListCtrl</servlet-name>
        <url-pattern>/MyListCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlpayCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.AlpayCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlpayCtrl</servlet-name>
        <url-pattern>/AlpayCtrl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EndingCtrl</servlet-name>
        <servlet-class>com.yanxuan.ctrl.EndingCtrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EndingCtrl</servlet-name>
        <url-pattern>/EndingCtrl</url-pattern>
    </servlet-mapping>
      <servlet>
    <servlet-name>modifyUserInfoServlet</servlet-name>
    <servlet-class>com.yanxuan.controller.ModifyUserInfo.ModifyUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyUserInfoServlet</servlet-name>
    <url-pattern>/modifyUserInfoServlet</url-pattern>
  </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/pages/error/500.jsp</location>
    </error-page>
</web-app>